
<div class="container mt-2">
  <div class="w-25 h-25"></div>
  <div class="row  w-75 p-2">
    <div class="col-md-6">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-12">
            <img src="https://via.placeholder.com/150" class="card-img p-2" alt="Image Description">
          </div>
          <div class="col">
            <form>
              <div class="form-group d-flex justify-content-between py-3 p-2">
                <input type="file" class="form-control w-100" id="" placeholder="Entrez votre email">
                <button  mat-raised-button color="primary" class="btn w-100">Changer </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 justify-content-end ">
      <div class="card">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Full Name</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">Johnatan Smith</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">exampleexample.com</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Phone</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">(097) 234-5678</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Mobile</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">(098) 765-4321</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Address</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
          </div>
        </div>
     
    </div>
      
      <div class="card">  
        <div class="card-body">
          <mat-dialog-content>
            <form [formGroup]="Entrepot">
              <div class="col">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>NOM</mat-label>
                  <input type="text" matInput placeholder="Ex : Cherif"
                    formControlName="nom">
                </mat-form-field>
              </div>
          
              <!-- <div class="col">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>STATUS </mat-label>
                  <input type="text" matInput placeholder="Ex : Actif"
                    formControlName="status ">
                </mat-form-field>
              </div> -->
          
              <!-- Adresse  -->
              <div class="col">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>ADRESSE ENTREPOT</mat-label>
                  <input type="text" matInput placeholder="Ex : C/Kaloum, ..."
                    formControlName="adresse">
                </mat-form-field>
              </div>
          
              
            </form>
          </mat-dialog-content>
          <mat-dialog-actions>
            <div class="d-flex justify-content-between">
              <button mat-stroked-button color="warn" matDialogClose>Annuler</button>
            <button mat-stroked-button color="primary"
              >Modifier l'Entrepot</button>
            </div>
          </mat-dialog-actions>
         
        </div>
      </div>
    </div>
  </div>
</div>
