<div id="particles-js">
  <div class="container">
    <div class="form-wrapper w-100">
      <h1>IDENTIFIEZ - VOUS</h1>
      <div class="div-logo">
        <img src="assets/logo/logo.png" alt>
      </div>
      <form [formGroup]="FormLogin">
        <input type="text" class="" placeholder="Nom d'utilisateur" formControlName="telephone"
          required>
        <input type="password" class="" placeholder="Mot de passe" formControlName="password"
          required>
        <button [disabled]="FormLogin.invalid" (click)="login(FormLogin)">Connexion</button>
      </form>
    </div>
  </div>
</div>
