<h1 matDialogTitle>Ajouter une nouvelle caisse</h1>
<hr>

<mat-dialog-content>
  <form [formGroup]="Caisse">
    <div class="col">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>TypeOperation</mat-label>
        <mat-select formControlName="typeOperation" required>
          <mat-option>-- Choisir dans la liste --</mat-option>
          <mat-option *ngFor="let typeOperation of TypeOperation" [value]="typeOperation.name">{{ typeOperation.name
            }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>TypePaiement</mat-label>
        <mat-select formControlName="typePaiement" required>
          <mat-option>-- Choisir dans la liste --</mat-option>
          <mat-option *ngFor="let typePaiement of TypePaiement" [value]="typePaiement.name">{{ typePaiement.name
            }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>MONTANT</mat-label>
          <input type="number" matInput placeholder="Ex : 1"
            formControlName="montant">
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>MOTIF</mat-label>
          <input type="text" matInput placeholder="Ex : ...."
            formControlName="motif">
        </mat-form-field>
      </div>

    
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="warn" matDialogClose>Abandonner</button>
  <button mat-stroked-button color="primary"
    (click)="saveDataCaisse()">Enregistrer la Caisse</button>
</mat-dialog-actions>





