<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
      <div class="min-height-200px">
        <div class="page-header">
          <div class="d-flex justify-content-between">
            <div class="col-md-4">
              <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item fw-bold"><a href="#">Page</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    {{title}}</li>
                </ol>
              </nav>
            </div>
            <div class="col text-end">
              <div class="text-right">
                <button mat-raised-button color="primary" class="mx-2"><span
                    class="mdi mdi-plus-thick"></span> Nouveau compte</button>
              </div>
            </div>
          </div>
        </div>
        <!-- List -->
        <hr>
        <div class="main-box mb-30">
          <mat-card class="product-form">
            <mat-card-header>
              <mat-card-title>Ajouter un Nouveau Compte</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form [formGroup]="compteForm" (ngSubmit)="onSubmit()">
  
                <mat-form-field appearance="outline">
                  <mat-label>Référence</mat-label>
                  <input matInput formControlName="reference" required />
                </mat-form-field>
  
                <mat-form-field appearance="outline">
                  <mat-label>ApiKey</mat-label>
                  <input matInput formControlName="apiKey" required />
                </mat-form-field>
  
                
                <mat-form-field appearance="outline">
                    <mat-label>ApiKey</mat-label>
                    <input matInput formControlName="apiKey" required />
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description" required />
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Numero</mat-label>
                    <input matInput formControlName="numero" required />
                  </mat-form-field>
  
                <div class="form-actions">
                  <button [disabled]="compteForm.invalid" mat-raised-button color="primary"
                    type="submit">Ajouter</button>
                  <button mat-stroked-button color="warn"
                    (click)="onReset()">Réinitialiser</button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
  
        </div>
        <!-- Fin list -->
  
      </div>
    </div>
  </div>
  