<h1 matDialogTitle>Ajouter un nouveau Tranfert de Stock</h1>
<hr>

<mat-dialog-content>
  <form [formGroup]="TransfertStock">
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>PRODUIT </mat-label>
        <input type="text" matInput placeholder="Ex : Mangue "
          formControlName="produit ">
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>MAGASIN</mat-label>
        <input type="text" matInput placeholder="Ex : Kipe"
          formControlName="magasin">
      </mat-form-field>
    </div>

    <!-- status  -->
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>STATUS </mat-label>
        <input type="text" matInput placeholder="Ex : inactif, ..."
          formControlName="status">
      </mat-form-field>
    </div>

   
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="warn" matDialogClose>Abandonner</button>
  <button mat-stroked-button color="primary"
    (click)="saveDataTransfertStock()">Enregistrer  l'Tranfert de Stock</button>
</mat-dialog-actions>
