<h1 matDialogTitle>Ajouter nouveau utilisateur </h1>
<hr>

<mat-dialog-content>
  <form [formGroup]="User">
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>fullname</mat-label>
        <input type="text" matInput placeholder="Ex : Diallo Oumar"
          formControlName="fullName">
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>email</mat-label>
        <input type="email" matInput placeholder="Ex : Imran@gmail.com"
          formControlName="email">
      </mat-form-field>
    </div>

    <!-- password et Telephone -->
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>TELEPHONE</mat-label>
        <input type="number" matInput placeholder="Ex : 224 626 37 01 38"
          formControlName="telephone">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>password </mat-label>
        <input type="password" matInput placeholder="Ex : ******"
          formControlName="password">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline" class="col-12">
          <mat-label>Magasin</mat-label>
          <mat-select formControlName="idMagasin" required>
              <mat-option *ngFor="let magasin of Magasin"
              [value]="magasin.id">{{ magasin.name }}</mat-option>
          </mat-select> 
        </mat-form-field>
  </div>
    
   
  
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="warn" matDialogClose>Abandonner</button>
  <button mat-stroked-button color="primary"
    (click)="saveDataUser()">Enregistrer le client</button>
</mat-dialog-actions>
