<h1 matDialogTitle>Ajouter nouveau utilisateur </h1>
<hr>

<mat-dialog-content>
  <form [formGroup]="User">
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Nom Complet</mat-label>
        <input type="text" matInput placeholder="Ex : Diallo Oumar"
          formControlName="fullName">
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Adresse email</mat-label>
        <input type="email" matInput placeholder="Ex : Imran@gmail.com"
          formControlName="email">
      </mat-form-field>
    </div>

    <!-- password et Telephone -->
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>TELEPHONE</mat-label>
        <input type="number" matInput placeholder="Ex : 224 626 37 01 38"
          formControlName="telephone">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Mot de passe </mat-label>
        <input type="password" matInput placeholder="Ex : ******"
          formControlName="password">
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Privilège</mat-label>
        <mat-select formControlName="role" required
          (selectionChange)="getList($event.value)">
          <mat-option>-- Choisir dans la liste --</mat-option>
          <mat-option *ngFor="let role of Role" [value]="role.name">{{ role.name
            }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Affecter maintenant</mat-label>
        <mat-select formControlName="idMagasin" required>
          <mat-option *ngFor="let magasin of Magasin"
            [value]="magasin.id">{{ magasin.nom }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="warn" matDialogClose>Abandonner</button>
  <button mat-stroked-button color="primary"
    (click)="saveDataUser()">Enregistrer le client</button>
</mat-dialog-actions>
