<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="page-header">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="col-md-4">
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item fw-bold"><a href="#">Page</a></li>
              <li class="breadcrumb-item active" aria-current="page"> {{title}}</li>
            </ol>
          </nav>
        </div>
        <div class="col text-end">
          <div class="text-start">
            <button mat-stroked-button class="text-danger btn"
              (click)="location.back()"><mat-icon>reply</mat-icon></button>
          </div>
          <div class="text-right">
            <!-- <button mat-raised-button color="primary" class="mx-2"><mat-icon>add</mat-icon>
              Nouveau fournisseur</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- List -->
    <hr>
    <div class="main-box mb-30">
      <div class="p-3">
        <mat-tab-group class="mat-elevation-z6">

          <mat-tab>
            <ng-template mat-tab-label>MAJ DU PROFILE</ng-template>
            <div class="row p-4">
              <div class="col-lg-4">
                <div class="card mb-4">
                  <div class="card-body text-center">
                    <h5 class="my-3">{{infoFournisseur.prenom + ' ' + infoFournisseur.nom}}</h5>
                    <p class="text-muted mb-1">{{infoFournisseur.societe}}</p>
                    <p class="text-muted mb-4">{{infoFournisseur.tel}}</p>
                    <div class="d-flex justify-content-center mb-2">
                      <a href="tel:{{infoFournisseur.tel}}" data-mdb-button-init data-mdb-ripple-init
                        class="btn btn-primary">Appelez</a>
                      <a href="mailto:{{infoFournisseur.email}}" data-mdb-button-init data-mdb-ripple-init
                        class="btn btn-outline-primary ms-1">Message</a>
                    </div>
                  </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                  <div class="card-body p-0">
                    <!-- <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fas fa-globe fa-lg text-warning"></i>
                  <p class="mb-0">https://mdbootstrap.com</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-github fa-lg text-body"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
              </ul> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Nom complet</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{infoFournisseur.prenom + ' ' + infoFournisseur.nom}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Email</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{infoFournisseur.email}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Phone</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{infoFournisseur.tel}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Address</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{infoFournisseur.adresse}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Entreprise</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{infoFournisseur.societe}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="card mb-4 mb-md-0">
                      <div class="card-body">
                        <p class="mb-4"><span class="text-primary font-italic me-1">Fournisseur</span> Modification
                        </p>
                        <form [formGroup]="EditForm">
                          <div class="d-flex justify-content-between flex-wrap">
                            <div class="col me-1">
                              <mat-form-field class="w-100" appearance="outline">
                                <mat-label>NOM</mat-label>
                                <input type="text" matInput placeholder="Ex : Cherif" [value]="infoFournisseur.nom" class="text-primary fw-bold" formControlName="nom"class="form-control">
                              </mat-form-field>
                            </div>

                            <div class="col ms-1">
                              <mat-form-field class="w-100" appearance="outline">
                                <mat-label>PRENOM</mat-label>
                                <input type="text" matInput placeholder="Ex : Imran" [value]="infoFournisseur.prenom" class="text-primary fw-bold" formControlName="prenom"class="form-control">
                              </mat-form-field>
                            </div>
                          </div>

                          <!-- Adresse et Telephone -->
                          <div class="col">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>ADRESSE </mat-label>
                              <input type="text" matInput placeholder="Ex : C/Kaloum, ..." [value]="infoFournisseur.adresse" class="text-primary fw-bold" formControlName="adresse" class="form-control">
                            </mat-form-field>
                          </div>

                          <div class="col">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>TELEPHONE</mat-label>
                              <input type="number" matInput placeholder="Ex : 224 626 37 01 38" [value]="infoFournisseur.tel" class="text-primary fw-bold" formControlName="tel" class="form-control">
                            </mat-form-field>
                          </div>
                          <!-- Societe et Email -->

                          <div class="col">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>SOCIETE</mat-label>
                              <input type="text" matInput placeholder="Ex : SPA" [value]="infoFournisseur.societe" class="text-primary fw-bold" formControlName="societe" class="form-control">
                            </mat-form-field>
                          </div>

                          <div class="col">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>Email</mat-label>
                              <input type="text" matInput placeholder="Ex : thiernomahmudbah@gmail.com" [value]="infoFournisseur.email" class="text-primary fw-bold"
                                formControlName="email" class="form-control">
                            </mat-form-field>
                          </div>
                          <button mat-raised-button color="primary" (click)="confirmEditing(EditForm)">Terminer</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>GESTION DU COMPTE</ng-template>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>HISTORIQUE DES APPROVISIONNEMENTS</ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>