<div class="card col-md-3 mt-6 " style="width: 30rem;">

  <div class="card-body">
    <h5 class="card-title">Ajouter un article</h5>

    <form class="card-text" [formGroup]="addPanierAchat">

      <div class="d-flex justify-content-between flex-wrap align-items-center">
        <div class="col">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Produit</mat-label>
            <mat-select formControlName="idProduit" required>
              <mat-option *ngFor="let produit of Produit"
                [value]="produit.idProduit">{{ produit.designation +
                ' | P.U | '+((produit.prixUnitaire) | currency: 'GNF : ') }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="col">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>QUANTITE </mat-label>
          <input type="number" matInput placeholder="Ex :100"
            formControlName="quantite">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>PRIX D'ACHAT PROVISOIRE </mat-label>
          <input type="number" matInput placeholder="Ex : 5,000"
            formControlName="prixUnitaire">
        </mat-form-field>
      </div>

    </form>
    <div
      class="card-footer">
      <button mat-raised-button color="warn" class="mx-2" matDialogClose>Annuler</button>
      <button mat-raised-button color="primary" class="mx-2" (click)="saveData()"
        type="submit">Ajouter</button>
    </div>
  </div>
</div>
