
<h1 matDialogTitle>Ajouter un nouveau compte</h1>
<hr>

<mat-dialog-content>
  <form [formGroup]="Compte">
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Reference</mat-label>
        <input type="text" matInput placeholder="Ex : ...."
          formControlName="reference">
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>ApiKey</mat-label>
        <input type="text" matInput placeholder="Ex : ;;;"
          formControlName="apiKey">
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Description </mat-label>
        <input type="text" matInput placeholder="Ex : , ..."
          formControlName="description">
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Numero</mat-label>
        <input type="number" matInput placeholder="Ex : 1,2,3"
          formControlName="numero">
      </mat-form-field>
    </div>
   

    
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="warn" matDialogClose>Abandonner</button>
  <button mat-stroked-button color="primary"
    (click)="saveDataCompte()">Enregistrer le Compte</button>
</mat-dialog-actions>
