<div class="container-fluid">
  <header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>

  <div class="page-heading">
    <h3>Tableau de bord</h3>
  </div>
  <div class="page-content">
    <section class="row">
      <div class="col-12 col-lg-9">
        <div class="row">
          <div class="col-6 col-lg-4 col-md-6">
            <div class="card">
              <div class="card-body px-3 py-4-5">
                <div class="row">
                  <div class="col-md-4">
                    <div class="stats-icon purple">
                      <i class="iconly-boldSend"></i>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <h6 class="tw-bold fs-5">Vente</h6>
                    <h6 class="font-extrabold mb-0">{{vente}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4 col-md-6">
            <div class="card">
              <div class="card-body px-3 py-4-5">
                <div class="row">
                  <div class="col-md-4">
                    <div class="stats-icon green">
                      <i class="iconly-boldTick-Square"></i>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <h6 class="tw-bold fs-5">Cr&#233;dit</h6>
                    <h6 class="font-extrabold mb-0">{{credit}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4 col-md-6">
            <div class="card">
              <div class="card-body px-3 py-4-5">
                <div class="row">
                  <div class="col-md-4">
                    <div class="stats-icon blue">
                      <i class="iconly-boldWallet"></i>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <h6 class="tw-bold fs-5">Montant Total</h6>
                    <h6 class="font-extrabold mb-0">{{montantTotal}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4 col-md-6">
            <div class="card">
              <div class="card-body px-3 py-4-5">
                <div class="row">
                  <div class="col-md-4">
                    <div class="stats-icon red">
                      <i class="iconly-boldLock"></i>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <h6 class="tw-bold fs-5">Encaissement</h6>
                    <h6 class="font-extrabold mb-0">{{entree}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4 col-md-6">
            <div class="card">
              <div class="card-body px-3 py-4-5">
                <div class="row">
                  <div class="col-md-4">
                    <div class="stats-icon grey">
                      <i class="iconly-boldUpload"></i>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <h6 class="tw-bold fs-5">D&#233;caisssement</h6>
                    <h6 class="font-extrabold mb-0">{{sortie}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4 col-md-6">
            <div class="card">
              <div class="card-body px-3 py-4-5">
                <div class="row">
                  <div class="col-md-4">
                    <div class="stats-icon bg-danger">
                      <i class="iconly-boldWork"></i>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <h5 class="fw-bold fs-5">Depense</h5>
                    <h6 class="fw-bold text-dark">{{depense}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Graphique -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>Evolution</h4>
              </div>
              <div class="card-body">
                <!-- <div id="chart-profile-visit"></div> -->
                <div>
                  <canvas id="myChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-xl-12">
            <div class="card">
              <div class="card-header">
                <h4>Derni&#232;res Op&#233;rations</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-bordered table-lg">
                    <thead>
                      <tr>
                        <th>Operation</th>
                        <th>D&#233;tails</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="col-3">
                          <div class="d-flex align-items-center">
                            <div class="avatar avatar-md">
                              <img alt src="assets/images/faces/5.jpg">
                            </div>
                            <p class="font-bold ms-3 mb-0">Si Cantik</p>
                          </div>
                        </td>
                        <td class="col-auto">
                          <p class=" mb-0">Congratulations on your
                            graduation!</p>
                        </td>
                      </tr>
                      <tr>
                        <td class="col-3">
                          <div class="d-flex align-items-center">
                            <div class="avatar avatar-md">
                              <img alt src="assets/images/faces/2.jpg">
                            </div>
                            <p class="font-bold ms-3 mb-0">Si Ganteng</p>
                          </div>
                        </td>
                        <td class="col-auto">
                          <p class=" mb-0">Wow amazing design! Can you make</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="card">
          <div class="card-body py-4 px-5">
            <div class="d-flex align-items-center">
              <div class="ms-2 name">
                <h5>--WELCOME-</h5>
                <h6>___ MagNus ___</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4 class>Liste des epuises</h4>
          </div>
          <div class="card-content pb-4 vh-100">
            <div class="recent-message d-flex px-2 py-1">
              <div class="name col-12 decoup p-3">
                <h5 class="mb-2">---</h5>
                <h6 class="text-muted">00000</h6>
              </div>
            </div>
            <div class="px-4 col">
              <a href="/"
                class='btn btn-block btn-xl btn-light-primary font-bold mt-3'>Voir
                la liste</a>
            </div>
          </div>
        </div>
        <!-- <div class="card">
          <div class="card-header">
            <h4>Visitors Profile</h4>
          </div>
          <div class="card-body">
            <div id="chart-visitors-profile"></div>
          </div>
        </div> -->
      </div>
    </section>
  </div>
</div>

<style>
  .decoup {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
</style>
