
<div class="main-container  ">
    <div class="pd-ltr-20 xs-pd-20-10">
      <div class="min-height-200px">
        <div class="page-header">
          <div class="d-flex justify-content-between">
            <div class="col-md-4">
              <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item fw-bold"><a href="#">Page</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    {{title}}</li>
                </ol>
              </nav>
            </div>
            <div class="col text-end">
              <div class="text-right">
                <button mat-raised-button color="primary" class="mx-2"><span
                    class="mdi mdi-plus-thick"></span> Nouveau approvisionnement</button>
              </div>
            </div>
          </div>
        </div>
        <!-- List -->
        <hr>
        <div class="main-box mb-30 col-10  ">
          <mat-card class="AjustementStock">
            <mat-card-header>
              <mat-card-title>Faire un Nouveau Approvisionnement Produit</mat-card-title>
            </mat-card-header>
            <mat-card-content >
              <form [formGroup]="AjustementStock" (ngSubmit)="onSubmit()">
                <div
                class="d-flex justify-content-between flex-wrap align-items-center">
                <div class="col-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Produit</mat-label>
                    <mat-select formControlName="id_produit" required>
                        <mat-option *ngFor="let produit of Produit"
                            [value]="produit.id">{{ produit.name }}</mat-option>  
                    </mat-select>
                  </mat-form-field>
                  
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Entrepot</mat-label>
                        <mat-select formControlName="id_entrepot" required>
                            <mat-option *ngFor="let entrepot of Entrepot"
                            [value]="entrepot.id">{{ entrepot.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
              </div>
               <div class="d-flex justify-content-between flex-wrap align-items-center">
                <div class="col-6">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>MONTANT TOTAL</mat-label>
                      <input type="number" matInput placeholder="Ex :50000"
                        formControlName="montant_total">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Fournisseur</mat-label>
                        <mat-select formControlName="id_fournissseur" required>
                            <mat-option *ngFor="let fournisseur of Fournisseur"
                            [value]="fournisseur.id">{{ fournisseur.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
               </div>
                  <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>QUANTITE </mat-label>
                      <input type="number" matInput placeholder="Ex :100"
                        formControlName="quantite">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>PRIX D'ACHAT</mat-label>
                      <input type="number" matInput placeholder="Ex :5000"
                        formControlName="prix_unite_achat">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>PRIX DE VENTE </mat-label>
                      <input type="number" matInput placeholder="Ex :5000"
                        formControlName="prix_unite_vente">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>DATE PEREMPTION</mat-label>
                      <input type="datetime-local" matInput placeholder="Ex :20/05/2030"
                        formControlName="date_peremption">
                    </mat-form-field>
                  </div>
               
  
                <!-- <div class="file-upload-container">
                  <input type="file" (change)="onFileChange($event)"
                    formControlName="image" />
                  <div class="image-preview-container text-end" *ngIf="imagePreview">
                    <img [src]="imagePreview" class="image-preview" />
                  </div>
                </div> -->
  
                <div class="form-actions">
                  <button mat-raised-button color="primary"
                    type="submit">Ajouter</button>
                  <button mat-stroked-button color="warn"
                    (click)="onReset()">Réinitialiser</button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
  
        </div>
        <!-- Fin list -->
  
      </div>
    </div>
  </div>
  