
<div class="d-flex justify-content-between gap-2 flex-wrap ">
  <div class="card col-md-3 mt-6 "style="width: 30rem;">

    <div class="card-body">
      <h5 class="card-title">Approvisionner</h5>

        <form class="card-text" [formGroup]="AjustementStock" >
    

          <div class="d-flex justify-content-between flex-wrap align-items-center">
           <div class="col">
             <mat-form-field appearance="outline">
               <mat-label>Produit</mat-label>
               <mat-select formControlName="idProduit" required>
                   <mat-option *ngFor="let produit of Produit"
                       [value]="produit.id">{{ produit.name }}</mat-option>  
               </mat-select>
             </mat-form-field>
             
           </div>
         
           <div class="col">
             <mat-form-field appearance="outline">
                 <mat-label>Entrepot</mat-label>
                 <mat-select formControlName="idEntrepot" required>
                     <mat-option *ngFor="let entrepot of Entrepot"
                     [value]="entrepot.id">{{ entrepot.name }}</mat-option>
                 </mat-select>
               </mat-form-field>
         </div>
          </div>
               <div class=" col-12 d-flex justify-content-all ">
                
                   <mat-form-field  class="col-12" appearance="outline">
                       <mat-label>Fournisseur</mat-label>
                       <mat-select  formControlName="idFournisseur" required>
                           <mat-option *ngFor="let fournisseur of Fournisseur"
                           [value]="fournisseur.id">{{ fournisseur.name }}</mat-option>
                       </mat-select>
                     </mat-form-field>
               
               
                   
               </div>
               <div class="col">
                 <mat-form-field class="w-100" appearance="outline">
                   <mat-label>QUANTITE </mat-label>
                   <input type="number" matInput placeholder="Ex :100"
                     formControlName="quantite">
                 </mat-form-field>
               </div>
               <div class="col">
                 <mat-form-field class="w-100" appearance="outline">
                   <mat-label>PRIX D'ACHAT</mat-label>
                   <input type="number" matInput placeholder="Ex :5000"
                     formControlName="prixUniteAchat">
                 </mat-form-field>
               </div>
               <div class="col">
                 <mat-form-field class="w-100" appearance="outline">
                   <mat-label>PRIX DE VENTE </mat-label>
                   <input type="number" matInput placeholder="Ex :5000"
                     formControlName="prixUniteVente">
                 </mat-form-field>
               </div>
               <div class="col">
                 <mat-form-field class="w-100" appearance="outline">
                   <mat-label>DATE PEREMPTION</mat-label>
                   <input type="datetime-local" matInput placeholder="Ex :20/05/2030"
                     formControlName="datePeremption">
                 </mat-form-field>
               </div>
               <div class="col">
                       <mat-form-field class="w-100" appearance="outline">
                         <mat-label>MONTANT TOTAL</mat-label>
                         <input type="number" matInput placeholder="Ex :50000"
                           formControlName="montantTotal">
                       </mat-form-field>
                     </div>
           </form>
       <div class="card-footer d-flex justify-content-between flex-wrap align-items-between">
        <button mat-stroked-button color="warn" >Annuler</button>
      <button mat-stroked-button color="primary"
      (click)="onSubmit()">Enregistrer Stock</button>
       </div>
    </div>
  </div>
  <div class=" col " style="background-color: ebeef3;">
    
          
          <!-- List -->
            <!-- AJOUT DU DATATABLE.. -->
            <mat-card class="">
              <mat-card-title class="text-dark p-2 fw-bold">Liste</mat-card-title>
              <hr>
              <mat-card-content>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Rechercher...</mat-label>
                  <input matInput (keyup)="applyFilter($event)"
                    placeholder="Rechercher" #input>
                </mat-form-field>
                <div class="col bg-dark">
                <div class="mat-elevation " >
                  <table mat-table [dataSource]="dataSource" matSort class="w-100" id="matTable">
                    <!-- ID -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        ID </th>
                      <td mat-cell *matCellDef="let row; let i = index"> {{row.idAjustement}}
                      </td>
                    </ng-container>
                    <!-- ID -->
                    <ng-container matColumnDef="produit">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        PRODUIT </th>
                      <td mat-cell *matCellDef="let row"> {{row.produit}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="fournisseur">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        FOURNISSEUR </th>
                      <td mat-cell *matCellDef="let row"> {{row.fournisseur}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="quantite">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        QUANTITE AJUSTER</th>
                      <td mat-cell *matCellDef="let row"> {{row.quantite}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="prixachat">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        PRIX D'ACHAT </th>
                      <td mat-cell *matCellDef="let row"> {{row.prixachat}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="prixvente">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        PRIX DE VENTE </th>
                      <td mat-cell *matCellDef="let row"> {{row.prixvente}}
                      </td>
                    </ng-container>
    
                    <!-- Action -->
                    <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef
                        class="text-center">Action</th>
                      <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-button color="warn" [matMenuTriggerFor]="menu">
                          Voir + <span
                            class="dw dw-down-chevron"></span></button>
                        <mat-menu #menu="matMenu">
                          <a
                          (click)="deleteFunction('approvisionnement', element.id)"
                          mat-menu-item class="text-start">
                          <strong>
                            <span><mat-icon>delete</mat-icon></span>
                            supprimer
                          </strong>             
                        </a> 
                        <a
                        [routerLink]="['/ajustement-details']"
                        mat-menu-item class="text-start">
                        <strong>
                          <span><mat-icon>more</mat-icon> </span>
                          details 
                        </strong>   
                                   
                      </a>


                        </mat-menu>
                        
                      
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row
                      *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="5" class="p-3">Aucun element
                        correspond a cette recherche " {{input.value}} "</td>
                    </tr>
                  </table>
    
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page of users"></mat-paginator>
                </div>
              </div>
    
              </mat-card-content>
    
            </mat-card>
    
            <!-- FIN -->
    
          </div>
          <!-- Fin list -->
    
        </div>
  