<h1 matDialogTitle>Ajouter un nouveau Magasin</h1>
<hr>

<mat-dialog-content>
  <form [formGroup]="ComptePaiement">
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>REFERENCE</mat-label>
        <input type="text" matInput placeholder="Ex : ng-52"
          formControlName="reference">
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>DESCRIPTION</mat-label>
        <input type="text" matInput placeholder="Ex : Compte Bancaire"
          formControlName="description">
      </mat-form-field>
    </div>

    <!-- Numero de Compte -->
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>NUMERO DE COMPTE </mat-label>
        <input type="number" matInput placeholder="Ex : 422155440"
          formControlName="numero">
      </mat-form-field>
    </div>

  
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="warn" matDialogClose>Abandonner</button>
  <button mat-stroked-button color="primary"
    (click)="saveDataComptePaiement()">Enregistrer l'Magasin</button>
</mat-dialog-actions>
