#sidebar-title{
  color: rgb(82, 73, 73);
  font-size: 17px;
}

#side-icon{
  font-size: 20px;
  color: rgb(15, 1, 1);
}

.submenu {
  display: none;
  list-style: none;
  // padding-left: 20px;
}

.submenu.open {
  display: block;
}

.sidebar-item.has-sub.open > .submenu {
  display: block;
}
