<h1 matDialogTitle>Ajouter un nouveau Magasin</h1>
<hr>

<mat-dialog-content>
  <form [formGroup]="Magasin">
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>NOM</mat-label>
        <input type="text" matInput placeholder="Ex : Cherif"
          formControlName="nom">
      </mat-form-field>
    </div>



    <!-- Adresse et Telephone -->
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>ADRESSE MAGASIN</mat-label>
        <input type="text" matInput placeholder="Ex : C/Kaloum, ..."
          formControlName="adresse">
      </mat-form-field>
    </div>


    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>REFERENCE</mat-label>
        <input type="text" matInput placeholder="Ex : CF-552"
          formControlName="reference">
      </mat-form-field>
    </div>
  

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="warn" matDialogClose>Abandonner</button>
  <button mat-stroked-button color="primary"
    (click)="saveDataMagasin()">Enregistrer le Magasin</button>
</mat-dialog-actions>
