

<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="d-flex justify-content-between">
          <div class="col-md-4">
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item fw-bold"><a href="#">Page</a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{title}}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- List -->
    <hr>
    <div class="main-box mb-30">
      <mat-card class="p-3">
        <mat-card-title class="text-dark p-2 fw-bold">Liste</mat-card-title>
        <hr>
        <mat-tab-group>
      
            <mat-tab label="Dashboard"   matSort class="w-100" id="matTable">
              <mat-card-content class="">
                <div class="py-4"></div>
                <div class="mat-elevation">
                  <div class="container-fluid">
                    <div class="page-content">
                      <section class="row">
                        <div class="col-12 col-lg-9">
                          <div class="row">
                            <!-- Répéter pour chaque carte -->
                            <div class="col-6 col-lg-4 col-md-6">
                              <div class="card">
                                <div class="card-body px-3 py-4-5">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="stats-icon purple">
                                        <i class="iconly-boldSend"></i>
                                      </div>
                                    </div>
                                    <div class="col-md-8">
                                      <ng-container >
                                        <h6 class="tw-bold fs-5">SORTIE</h6>
                                        <h6 class="font-extrabold mb-0" >{{sortie}} </h6>
                                      </ng-container>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-6 col-lg-4 col-md-6">
                              <div class="card">
                                <div class="card-body px-3 py-4-5">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="stats-icon green">
                                        <i class="iconly-boldTick-Square"></i>
                                      </div>
                                    </div>
                                    <div class="col-md-8">
                                      <ng-container >
                                        <h6 class="tw-bold fs-5">ENTREE</h6>
                                        <h6 class="font-extrabold mb-0">{{entree}}</h6>
                                      </ng-container>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-6 col-lg-4 col-md-6">
                              <div class="card">
                                <div class="card-body px-3 py-4-5">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="stats-icon blue">
                                        <i class="iconly-boldWallet"></i>
                                      </div>
                                    </div>
                                    <div class="col-md-8">
                                      <ng-container >
                                        <h6 class="tw-bold fs-5">MONTANT</h6>
                                        <h6 class="font-extrabold mb-0" >{{montantTotal}}</h6>
                                      </ng-container>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-6 col-lg-4 col-md-6">
                              <div class="card">
                                <div class="card-body px-3 py-4-5">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="stats-icon red">
                                        <i class="iconly-boldLock"></i>
                                      </div>
                                    </div>
                                    <div class="col-md-8">
                                      <ng-container matColumnDef="depense">
                                        <h6 class="tw-bold fs-5">DEPENSE</h6>
                                        <h6 class="font-extrabold mb-0">{{depense}}</h6>
                                      </ng-container>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-6 col-lg-4 col-md-6">
                              <div class="card">
                                <div class="card-body px-3 py-4-5">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="stats-icon grey">
                                        <i class="iconly-boldUpload"></i>
                                      </div>
                                    </div>
                                    <div class="col-md-8">
                                      <ng-container matColumnDef="vente">
                                        <h6 class="tw-bold fs-5">VENTE</h6>
                                        <h6 class="font-extrabold mb-0">{{vente}}</h6>
                                      </ng-container>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-6 col-lg-4 col-md-6">
                              <div class="card">
                                <div class="card-body px-3 py-4-5">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="stats-icon bg-danger">
                                        <i class="iconly-boldWork"></i>
                                      </div>
                                    </div>
                                    <div class="col-md-8">
                                      <ng-container matColumnDef="credit">
                                        <h6 class="tw-bold fs-5">CREDIT</h6>
                                        <h6 class="font-extrabold mb-0">{{credit}}</h6>
                                      </ng-container>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <!-- Répéter les autres cartes ici -->
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
                <!-- <mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 250]"
                  aria-label="Select page of users"></mat-paginator> -->
              </mat-card-content>
            </mat-tab>
         
          <mat-tab label="Historique">
            <div class="col text-end">
              <div class="text-right">
                <button mat-raised-button color="primary" (click)="openDialog()" class="mx-2"><mat-icon>add</mat-icon> Nouvelle caisse</button>
              </div>
            </div>
            <mat-card-content>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Rechercher...</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
              </mat-form-field>

              <div class="mat-elevation">
                <table mat-table [dataSource]="historiquedataSource" matSort class="w-100" id="matTable">
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                    <td mat-cell *matCellDef="let row; let i = index">{{i + 1}}</td>
                  </ng-container>
                 
                  <ng-container matColumnDef="montant">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>MONTANT</th>
                    <td mat-cell *matCellDef="let row">{{row.montant}}</td>
                  </ng-container>

                  <ng-container matColumnDef="typeOperation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>TYPEOPERATION</th>
                    <td mat-cell *matCellDef="let row">{{row.typeOperation}}</td>
                  </ng-container>

                  <ng-container matColumnDef="typePaiement">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>TYPEPAIEMENT</th>
                    <td mat-cell *matCellDef="let row">{{row.typePaiement}}</td>
                  </ng-container>

                  <ng-container matColumnDef="motif">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>MOTIF</th>
                    <td mat-cell *matCellDef="let row">{{row.motif}}</td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="['id', 'montant', 'motif','typeOperation','typePaiement']"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['id', 'montant', 'motif','typeOperation','typePaiement']"></tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4" class="p-3">Aucun élément correspond à cette recherche "{{input.value}}"</td>
                  </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
              </div>
            </mat-card-content>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
    <!-- FIN -->
  </div>
</div>

