<h1 matDialogTitle>Ajouter un nouveau produit</h1>
<hr>

<mat-dialog-content>
  <form [formGroup]="Produit">
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>DESIGNATION</mat-label>
        <input type="text" matInput placeholder="Ex : Mange"
          formControlName="designation">
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>REFERENCE</mat-label>
        <input type="text" matInput placeholder="Ex : ...."
          formControlName="reference">
      </mat-form-field>
    </div>

    <!-- Adresse et Telephone -->
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>SEUIL</mat-label>
        <input type="number" matInput placeholder="Ex : 10, ..."
          formControlName="seuil">
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>DESCRIPTION</mat-label>
        <input type="text" matInput placeholder="Ex : Luxe"
          formControlName="description">
      </mat-form-field>
    </div>
    <!-- Email et Societe -->
    <div class="col">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>IMAGE</mat-label>
          <input type="text" matInput placeholder="Ex : , ..."
            formControlName="image">
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>SOUSCATEGORIE</mat-label>
          <input type="number" matInput placeholder="Ex : 1, ..."
            formControlName="societe">
        </mat-form-field>
      </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="warn" matDialogClose>Abandonner</button>
  <button mat-stroked-button color="primary"
    (click)="saveDataProduit()">Enregistrer le Produit</button>
</mat-dialog-actions>


