<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="page-header">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="col-md-4">
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item fw-bold"><a href="#">Page</a></li>
              <li class="breadcrumb-item active" aria-current="page"> {{title}}</li>
            </ol>
          </nav>
        </div>
        <div class="col text-end">
          <div class="text-start">
            <button mat-stroked-button class="text-danger btn"
              (click)="location.back()"><mat-icon>reply</mat-icon></button>
          </div>
          <div class="text-right">
            <!-- <button mat-raised-button color="primary" class="mx-2"><mat-icon>add</mat-icon>
              Nouveau fournisseur</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- List -->
    <hr>
    <div class="main-box mb-30">
      <div class="p-3">
        <mat-tab-group class="mat-elevation-z6">

          <mat-tab>
            <ng-template mat-tab-label>MAJ DU PROFILE</ng-template>
            <div class="row p-4">
              <div class="col-lg-4">
                <div class="card mb-4">
                  <div class="card-body  text-center">
                    <div  class="col-12">
                      <img [src]="" class="img-fluid" alt="Aperçu de l'image">
                    </div>
                    <div class="card-footer d-flex justify-content-between gap-2">
                    <input type="file" class="form-control" >
                      <button mat-raised-button color="primary"> changer</button>
     
                    </div>  
                  </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                  <div class="card-body p-0">
                    <!-- <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fas fa-globe fa-lg text-warning"></i>
                  <p class="mb-0">https://mdbootstrap.com</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-github fa-lg text-body"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
              </ul> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Reference</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{infoProduit.reference }}</p>
                      </div>
                    </div>
                    <hr>

                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Desgination</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{infoProduit.designation }}</p>
                      </div>
                    </div>
                    <hr>
                   
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Seuil</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{infoProduit.seuil}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Description</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{infoProduit.description}}</p>
                      </div>
                    </div>
                    
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="card mb-4 mb-md-0">
                      <div class="card-body">
                        <p class="mb-4"><span class="text-primary font-italic me-1">Produit</span> Modification
                        </p>
                        <form [formGroup]="EditForm">
                          <div class="d-flex justify-content-between flex-wrap">
                            <div class="col me-1">
                              <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Reference</mat-label>
                                <input type="text" matInput placeholder="Ex : Cherif" [value]="infoProduit.reference" class="text-primary fw-bold" formControlName="reference"class="form-control">
                              </mat-form-field>
                            </div>

                            <div class="col ms-1">
                              <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Designation</mat-label>
                                <input type="text" matInput placeholder="Ex : Imran" [value]="infoProduit.designation" class="text-primary fw-bold" formControlName="designation"class="form-control">
                              </mat-form-field>
                            </div>
                          </div>

                          <div class="col ms-1">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>Seuil</mat-label>
                              <input type="text" matInput placeholder="Ex : Imran" [value]="infoProduit.seuil" class="text-primary fw-bold" formControlName="seuil"class="form-control">
                            </mat-form-field>
                          </div>
                        

                          
                          <div class="col">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>Description </mat-label>
                              <input type="text" matInput placeholder="Ex : C/Kaloum, ..." [value]="infoProduit.description" class="text-primary fw-bold" formControlName="description" class="form-control">
                            </mat-form-field>
                          </div>

                        
                          
                          <button mat-raised-button color="primary" (click)="confirmEditing(EditForm)">Terminer</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <!-- <mat-tab>
            <ng-template mat-tab-label>GESTION DU COMPTE</ng-template>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>HISTORIQUE DES APPROVISIONNEMENTS</ng-template>
          </mat-tab> -->
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
    
 
 














        