/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// Menu
.sidebar-menu {
  .menu {
    .sidebar-title {
      color: rgb(22, 77, 129);
      font-size: 14px;
      text-decoration: dotted;
      // background-color: rgb(229, 240, 242);
      border-radius: 5px;
      width: 100%;
      padding: 2px;
      text-align: left;
      padding-left: 10px;
    }
    .sidebar-item span {
      color: black;
      font-weight: normal;
    }
  }
  .active-sidebar {
    background-color: rgb(211, 236, 241);
  }
  .active-sidebar #text,
  .active-sidebar #icons {
    color: #000000;
  }
}

#table_shadow thead,
#matTable thead {
  background-color: #153448;
}

#matTable th {
  color: white;
  font-size: 16px;
}

#maTableList th {
  background-color: #153448;
  color: #fff;
  font-weight: bold;
}
#maTableList td {
  color: #121619;
  border: 1px solid #121212;
}

/* ENLEVER LE INCREMENT DU L'INPUT NUMBER */
/* Pour Chrome, Safari, Edge, et Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
